<!-- CONTENT -->
<ion-content>
  <!-- FEED -->
  <div padding>
    <h1 color="tertiary">This is your FEED</h1>
  </div>
  <!-- SECTION resources -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Resources</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ionic Framework provides several different layouts that can be used to structure an app. From single page
        layouts, to
        split pane views and modals.</p>
      <br>
    </ion-card-content>
  </ion-card>
  <!-- SECTION header -->
  <br><br>
  <div padding>
    <ion-card-subtitle>Get Started with the basics</ion-card-subtitle>
    <h2>Header</h2>
    <p>
      The most simple layout available consists of a header and content. Most pages in an app generally have both of
      these, but a header is not required in order to use content.
    </p>
    <ion-img src="/assets/header.png"></ion-img>
  </div><br>
  <!-- SECTION footer -->
  <div padding>
    <h2>Footer</h2>
    <p>
      As you can see, a toolbar in a header appears above the content. Sometimes an app needs to have a toolbar below
      the
      content, which is when a footer is used.
    </p>
        <ion-img src="/assets/footer.png"></ion-img>
  </div><br>
  <!-- SECTION tabs -->
  <div padding>
    <h2>Tabs Layout</h2>
    <p>
      A layout consisting of horizontal tabs can be used to let the user quickly change between content views.
    </p>
    <ion-img src="/assets/tabs.png"></ion-img>
  </div><br>
  <!-- SECTION menu -->
  <div padding>
    <h2>Menu Layout</h2>
    <p>
      A standard layout among mobile apps includes the ability to toggle a side menu by clicking a button or swiping it open
      from the side. </p>
      <p>Side menus are generally used for navigation, but they can contain any content.
    </p>
    <ion-img src="/assets/menu.jpg"></ion-img>
  </div>
<!-- Pagination -->
<div padding>
  <ion-button color="light">next</ion-button>
</div>
</ion-content>